@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@font-face {
	font-family: 'JB-Thin';
	src: url(/static/fonts/JetBrainsMonoNL-Thin.ttf);
}

@font-face {
	font-family: 'JB-Bold';
	src: url(/static/fonts/JetBrainsMonoNL-Bold.ttf);
}

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'JB-Thin';
}

body 
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 130vh;
	background: rgb(3, 3, 37);
}

h2
{
    font-family: 'JB-Bold'
}

section 
{
	position: absolute;
	width: 100vw;
	height: 130vh;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2px;
	flex-wrap: wrap;
	overflow: hidden;
}
section::before 
{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(#000,green,yellow);
	animation: animate 5s linear infinite;
}
@keyframes animate 
{
	0%
	{
		transform: translateY(-100%);
	}
	100%
	{
		transform: translateY(100%);
	}
}
section span 
{
	position: relative;
	display: block;
	width: calc(6.25vw - 2px);
	height: calc(6.25vw - 2px);
	background:rgb(11, 5, 37);
	z-index: 2;
	transition: 1.5s;
}

section .sign
{
	position: absolute;
	width: 500px;
  	background: #222;  
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px;
	border-radius: 4px;
	box-shadow: 0 15px 35px rgba(0,0,0,9);
}
section .sign .content 
{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}
section .sign .content h2 
{
	font-size: 25px;
	color: #0f0;
	text-transform: uppercase;
}
section .sign .content .form 
{
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 25px;
}
section .sign .content .form .inputBox
{
	position: relative;
	width: 100%;
}
section .sign .content .form .inputBox input 
{
	position: relative;
	width: 100%;
	background: #333;
	border: none;
	outline: none;
	padding: 25px 10px 7.5px;
	border-radius: 4px;
	color: #fff;
	font-weight: 500;
	font-size: 1em;
}
section .sign .content .form .inputBox i 
{
	position: absolute;
	left: 0;
	padding: 15px 10px;
	font-style: normal;
	color: #aaa;
	transition: 0.5s;
	pointer-events: none;
}
.sign .content .form .inputBox input:focus ~ i,
.sign .content .form .inputBox input:valid ~ i
{
	transform: translateY(-7.5px);
	font-size: 0.8em;
	color: #fff;
}
.sign .content .form .links 
{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
}
.sign .content .form .links a 
{
	color: #fff;
	text-decoration: none;
}
.sign .content .form .links.reg a:nth-child(2)
{
	color: #0f0;
	font-weight: 550;
}
.sign .content .form .links.auth a
{
	color: rgb(255, 255, 255);
	font-weight: 550;
}
.sign .content .form .inputBox input[type="submit"]
{
	padding: 10px;
	background: #0f0;
	color: #000;
	font-weight: 600;
	font-size: 1.35em;
	letter-spacing: 0.05em;
	cursor: pointer;
}
input[type="submit"]:active
{
	opacity: 0.6;
}
@media (max-width: 900px)
{
	section span 
	{
		width: calc(10vw - 2px);
		height: calc(10vw - 2px);
	}
}
@media (max-width: 600px)
{
	section span 
	{
		width: calc(20vw - 2px);
		height: calc(20vw - 2px);
	}
}

.hr-shelf {
	margin: -30px auto 10px;
	padding: 0;
	height: 50px;
	border: none;
	border-bottom: 1px solid #ffffff;
	box-shadow: 0 20px 20px -20px #b9b9b9;
	width: 95%;
}

.integration {
	flex-direction: row;
	display: flex;
}

.social-icon-yandex {
	width: 40px;
	height: auto; /* Автоматическая высота */
	cursor: pointer; /* Курсор при наведении */
	border-radius: 10px;
	margin: 5px;
}

.redirect-a {
	color: #0f0;
	font-weight: 550;
	text-align: center;
	text-decoration: none;
}